name: ml-service
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - pip:
    - fastapi
    - uvicorn[standard]
    - python-dotenv
    - tensorflow>=2.12.0
    - numpy
    - pydantic
